/* 这个是组件内部的样式 */
@mixin center-all {
    justify-content: center;
    align-items: center;
}
@mixin active-style {
    background: #F0EDE6;
    color: #222222;
    box-shadow: none;
}
@mixin animation($attr: background) {
    transition-property: $attr;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    // transition-delay: 2s;
}
.show {
    display: block;
}
.hide {
    display: none!important;
}
.tabs {
    background: repeating-linear-gradient( -45deg, #D7D3C7, #D7D3C7 2px, #CECABE 2px, #CECABE 4px);
    padding: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    // border: 10px solid rgb(221, 218, 209);
    // box-sizing: border-box;
    width: 100%;
    .tab-nav-list {
        display: flex;
        border-bottom: none;
        justify-content: center;
        height: 60px;
        .tab-nav-item {
            padding: 10px 20px;
            text-align: center;
            line-height: 40px;
            flex: 1;
            height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: #d0c9b8;
            color: #847E6F;
            text-shadow: 1px 1px 1px white;
            box-shadow: inset 0 0 2px hsla(0,0%,0%,0.15);
            @include animation(background);
        }
        .cur {
            // background: black;
            @include active-style;
        }
    }
    .tab-content {
        overflow: hidden;
        display: flex;
        // width: 900px;
        .tab-pane {
            flex: 1;
            background: #F0EDE6;
            border-top: none;
            text-align: center;
            font-size: 2rem;
            min-height: 200px;
            display: flex;
            align-items:center;
            justify-content: center;
            @include animation(display);
        }
    }
}